* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffecdb;
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 50px 0;
  width: 380px;
}
.container .inner--container {
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: -5px 1px 54px 11px rgba(255, 155, 123, 0.44);
  position: relative;
}
.container .top-nav .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.container .top-nav .header .nav--icon {
  cursor: pointer;
}
.container .top-nav .header .nav--icon i {
  font-size: 1rem;
}
.container .top-nav .header .nav--header h1 {
  font-size: 1rem;
  font-weight: 500;
}
.container .top-nav .header .notifications {
  cursor: pointer;
  position: relative;
}
.container .top-nav .header .notifications i {
  font-size: 1rem;
}
.container .top-nav .header .notifications::before {
  content: " ";
  position: absolute;
  width: 8px;
  height: 8px;
  top: -1px;
  right: 0px;
  background-color: #ff9b7b;
  border-radius: 50%;
}
.container .top-nav .top--card {
  background-color: #ff9b7b;
  border-radius: 10px;
  padding: 15px;
}
.container .top-nav .top--card .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
}
.container .top-nav .top--card .top .title h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.container .top-nav .top--card .top .title span.date {
  font-size: 0.8rem;
}
.container .top-nav .top--card .top .more i {
  font-size: 1.2rem;
}
.container .top-nav .top--card .mentor {
  display: flex;
  gap: 10px;
  color: #fff;
  margin-top: 20px;
}
.container .top-nav .top--card .mentor .avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.container .top-nav .top--card .mentor .details .name {
  font-size: 0.9rem;
}
.container .top-nav .top--card .mentor .details .position {
  font-size: 0.8rem;
}
.container .class--timeline {
  margin-top: 30px;
  height: 55vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 60px 1fr;
}
.container .class--timeline::-webkit-scrollbar {
  display: none;
}
.container .class--timeline .timeline {
  display: flex;
  gap: 56px;
  flex-direction: column;
  border-right: 1px solid #a0a0a0;
  margin-right: 12px;
  position: relative;
}
.container .class--timeline .timeline .time {
  font-size: 0.8rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #a0a0a0;
}
.container .class--timeline .timeline .marker {
  width: 13px;
  height: 13px;
  background: rgb(255, 155, 123);
  background: radial-gradient(circle, rgb(255, 155, 123) 14%, rgba(255, 155, 123, 0.7119222689) 38%, rgba(255, 155, 123, 0) 66%);
  position: absolute;
  right: -7px;
  top: 200px;
  border-radius: 50%;
}
.container .class--timeline .classes {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .class--timeline .classes .class {
  background-color: #f0f2ff;
  border-radius: 10px;
  padding: 10px;
}
.container .class--timeline .classes .class .class--head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .class--timeline .classes .class .class--head .head h1.class--name {
  font-size: 1.1rem;
  font-weight: 500;
}
.container .class--timeline .classes .class .class--head .head .time {
  font-size: 0.8rem;
}
.container .class--timeline .classes .class .class--head .type span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #8190ce;
}
.container .class--timeline .classes .class .class-members {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
  max-width: 170px;
}
.container .class--timeline .classes .class .class-members .members {
  position: relative;
}
.container .class--timeline .classes .class .class-members .members img {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
}
.container .class--timeline .classes .class .class-members .members img:nth-child(1) {
  left: 25px;
  z-index: 3;
}
.container .class--timeline .classes .class .class-members .members img:nth-child(2) {
  left: 50px;
  z-index: 4;
}
.container .class--timeline .classes .class .class-members .more span {
  font-size: 0.9rem;
  color: #a0a0a0;
}
.container .class--timeline .classes .class:nth-child(2) {
  background-color: #f2fff8;
}
.container .class--timeline .classes .class:nth-child(2) .type span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #81ddb3;
}
.container .class--timeline .classes .class:nth-child(3) {
  background-color: #fffdf1;
}
.container .class--timeline .classes .class:nth-child(3) .type span {
  font-size: 0.9rem;
  font-weight: 700;
  color: #ebd297;
}
.container .menu {
  position: static;
  bottom: 10px;
  padding-top: 20px;
}
.container .menu ul.menus {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  background-color: #ff9b7b;
  border-radius: 20px;
  padding: 15px 0;
}
.container .menu ul.menus .menu--item {
  cursor: pointer;
}
.container .menu ul.menus .active {
  border-bottom: 2px solid #fff;
}

.active--class {
  box-shadow: -5px 1px 54px 11px #f2fff8;
}/*# sourceMappingURL=style.css.map */